body {
    width: 100%;
    margin: 0;
    color: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
}

.container1, .container2 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    box-shadow: 13px 13px 13px 15px #888888
}

.container1 {
    background-image: url('assets/yes.jpg');
}

.container2 {
    background-image: url('assets/theatre.jpg');
}

.header2 {
    color: whitesmoke;
    padding-top: 0.5em;
}

.form-row {
    margin-top: 2em;
}

.myContainer, .movieContainer {
    background-color: whitesmoke;
    color: #383d41;
    width: 40em;
    height: auto;
    opacity: 0;
    border-radius: 10px;
    text-align: left;
    padding: 1em;
}

.myContainer {
    margin: 0 5em 0 0
}

.movieContainer {
    margin-top: 1.5em;
}

.fadeIn {
    animation: fadeInOut 0.5s linear forwards;
}

@keyframes fadeInOut {
    0% { opacity:0; }
    50% { opacity:0.5; } 
    100% { opacity:1; } 
}

li:hover {
    color: lightseagreen;
    cursor: pointer;
  }

.modalDiv {
    width: 40em;
    height: 30em;
    padding: 1.5em;
    font-size: 1.1em;
    color: #383d41;
    text-align: left;
}

.imageContainer {
    background-color: whitesmoke;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    padding-right: 2em;
}

.modal-content {
    flex-direction: row;
    background-color: whitesmoke;
}

.imageSrc {
    border-radius: 0 10px 10px 0;
    width: 30em;
    height: 50em;
    object-fit: contain;
}